Repository openhwgroup/cv32e40p, pull requests merged in 2023-11, with the labels that each got.

#897 4 bug corrections
  rtl/cv32e40p_controller.sv
  rtl/cv32e40p_core.sv
  rtl/cv32e40p_cs_registers.sv
  rtl/cv32e40p_ex_stage.sv
  rtl/cv32e40p_fp_wrapper.sv
  rtl/cv32e40p_id_stage.sv
Labels: Component:RTL

#898 Slight User Manual corrections
  docs/source/control_status_registers.rst
  docs/source/fpu.rst
Labels: Component:Doc

#902 RVFI - Better register file writes sampling + Reporting more traps + Better mstatus reporting
  bhv/cv32e40p_rvfi.sv
  bhv/cv32e40p_tb_wrapper.sv
  bhv/include/cv32e40p_tracer_pkg.sv
  bhv/pipe_freeze_trace.sv
Labels: Component:Verif

#904 2 bugs correction
  rtl/cv32e40p_core.sv
  rtl/cv32e40p_ex_stage.sv
  rtl/cv32e40p_id_stage.sv
Labels: Component:RTL

#906 RVFI - More accurate csr reporting and correcting register file write reporting when conflict with between apu and lsu
  bhv/cv32e40p_rvfi.sv
  bhv/insn_trace.sv
  bhv/pipe_freeze_trace.sv
Labels: Component:Verif

#907 RVFI - Triggering ex to wb even when DBG
  bhv/cv32e40p_rvfi.sv
Labels: Component:Verif

#910 Aligned ebreak and ecall management in controller states.
  rtl/cv32e40p_controller.sv
Labels: Component:RTL

#912 RVFI - Better load results sampling when debug + csr sampling improvement
  bhv/cv32e40p_rvfi.sv
  bhv/cv32e40p_tb_wrapper.sv
  bhv/pipe_freeze_trace.sv
Labels: Component:Verif

#909 User Manual update for HWLoops and exception handlers
  docs/source/corev_hw_loop.rst
  docs/source/debug.rst
  docs/source/pipeline.rst
Labels: Component:Doc

#914 RVFI - mstatus_fs update when fcsr update + write back trigger update
  bhv/cv32e40p_rvfi.sv
  bhv/pipe_freeze_trace.sv
Labels: Component:Verif
