Repository openhwgroup/cv32e40p, pull requests merged in 2023-10, with the labels that each got.

#881 5 RTL issues corrections + 1 former correction improvement
  rtl/cv32e40p_controller.sv
  rtl/cv32e40p_core.sv
  rtl/cv32e40p_ex_stage.sv
  rtl/cv32e40p_id_stage.sv
Labels: Component:RTL

#883 RVFI - debug help
  bhv/include/cv32e40p_tracer_pkg.sv
  bhv/insn_trace.sv
Labels: Component:Verif

#890 Updated Pipeline details after bug corrections
  docs/source/instruction_set_extensions.rst
  docs/source/pipeline.rst
  scripts/lec/synopsys_formality/check_lec.tcl
Labels: Component:Doc

#892 RVFI - Improving mstatsu_fs reporting and fcsr reporting
  bhv/cv32e40p_instr_trace.svh
  bhv/cv32e40p_rvfi.sv
  bhv/include/cv32e40p_tracer_pkg.sv
  bhv/pipe_freeze_trace.sv
Labels: Component:Verif
