Repository openhwgroup/cv32e40p, pull requests merged in 2023-06, with the labels that each got.

#815 User manual updates
  docs/source/corev_hw_loop.rst
  docs/source/getting_started.rst
  docs/source/index.rst
  docs/source/instruction_set_extensions.rst
  docs/source/integration.rst
Labels: Component:Doc

#816 User Manual update for post-incremented loads.
  docs/source/instruction_set_extensions.rst
  docs/source/intro.rst
Labels: Component:Doc

#818 User Manual clean-up.
  docs/source/instruction_set_extensions.rst
Labels: Component:Doc

#819 RVFI - HW loop csr + Improved FPU instruction + Improve trap
  bhv/cv32e40p_rvfi.sv
  bhv/cv32e40p_tb_wrapper.sv
  bhv/insn_trace.sv
  bhv/pipe_freeze_trace.sv
  rtl/cv32e40p_fp_wrapper.sv
Labels: Component:Verif

#820 RVFI - Urgent rvfi trap fix
  bhv/cv32e40p_rvfi.sv
  bhv/insn_trace.sv
Labels: Component:Verif

#821 CVFPU v0.8.0 integration
  cv32e40p_fpu_manifest.flist
  rtl/cv32e40p_fp_wrapper.sv
  rtl/vendor/pulp_platform_fpnew.lock.hjson
  rtl/vendor/pulp_platform_fpnew.vendor.hjson
  rtl/vendor/pulp_platform_fpnew/LICENSE.apache
  rtl/vendor/pulp_platform_fpnew/LICENSE.solderpad
  rtl/vendor/pulp_platform_fpnew/README.license.md
  rtl/vendor/pulp_platform_fpnew/src/fpnew_cast_multi.sv
  rtl/vendor/pulp_platform_fpnew/src/fpnew_divsqrt_multi.sv
  rtl/vendor/pulp_platform_fpnew/src/fpnew_divsqrt_th_32.sv
  rtl/vendor/pulp_platform_fpnew/src/fpnew_fma.sv
  rtl/vendor/pulp_platform_fpnew/src/fpnew_fma_multi.sv
  rtl/vendor/pulp_platform_fpnew/src/fpnew_noncomp.sv
  rtl/vendor/pulp_platform_fpnew/src/fpnew_opgroup_block.sv
  rtl/vendor/pulp_platform_fpnew/src/fpnew_opgroup_fmt_slice.sv
  rtl/vendor/pulp_platform_fpnew/src/fpnew_opgroup_multifmt_slice.sv
  rtl/vendor/pulp_platform_fpnew/src/fpnew_pkg.sv
  rtl/vendor/pulp_platform_fpnew/src/fpnew_rounding.sv
  rtl/vendor/pulp_platform_fpnew/src/fpnew_top.sv
  rtl/vendor/pulp_platform_fpnew/vendor/opene906/E906_RTL_FACTORY/gen_rtl/clk/rtl/gated_clk_cell.v
  rtl/vendor/pulp_platform_fpnew/vendor/opene906/E906_RTL_FACTORY/gen_rtl/fdsu/rtl/pa_fdsu_ctrl.v
  rtl/vendor/pulp_platform_fpnew/vendor/opene906/E906_RTL_FACTORY/gen_rtl/fdsu/rtl/pa_fdsu_ff1.v
  rtl/vendor/pulp_platform_fpnew/vendor/opene906/E906_RTL_FACTORY/gen_rtl/fdsu/rtl/pa_fdsu_pack_single.v
  rtl/vendor/pulp_platform_fpnew/vendor/opene906/E906_RTL_FACTORY/gen_rtl/fdsu/rtl/pa_fdsu_prepare.v
  rtl/vendor/pulp_platform_fpnew/vendor/opene906/E906_RTL_FACTORY/gen_rtl/fdsu/rtl/pa_fdsu_round_single.v
  rtl/vendor/pulp_platform_fpnew/vendor/opene906/E906_RTL_FACTORY/gen_rtl/fdsu/rtl/pa_fdsu_special.v
  rtl/vendor/pulp_platform_fpnew/vendor/opene906/E906_RTL_FACTORY/gen_rtl/fdsu/rtl/pa_fdsu_srt_single.v
  rtl/vendor/pulp_platform_fpnew/vendor/opene906/E906_RTL_FACTORY/gen_rtl/fdsu/rtl/pa_fdsu_top.v
  rtl/vendor/pulp_platform_fpnew/vendor/opene906/E906_RTL_FACTORY/gen_rtl/fpu/rtl/pa_fpu_dp.v
  rtl/vendor/pulp_platform_fpnew/vendor/opene906/E906_RTL_FACTORY/gen_rtl/fpu/rtl/pa_fpu_frbus.v
  rtl/vendor/pulp_platform_fpnew/vendor/opene906/E906_RTL_FACTORY/gen_rtl/fpu/rtl/pa_fpu_src_type.v
  rtl/vendor/pulp_platform_fpnew/vendor/opene906/LICENSE
Labels: Component:RTL

#823 User Manual updates
  docs/source/control_status_registers.rst
  docs/source/corev_hw_loop.rst
Labels: Component:Doc

#824 RTL bug correction and updates
  rtl/cv32e40p_core.sv
  rtl/cv32e40p_decoder.sv
  rtl/cv32e40p_load_store_unit.sv
Labels: Component:RTL
