Repository openhwgroup/cv32e40p, pull requests merged in 2023-08, with the labels that each got.

#841 3 RTL Issues corrections
  rtl/cv32e40p_controller.sv
  rtl/cv32e40p_cs_registers.sv
  rtl/cv32e40p_id_stage.sv
Labels: Component:RTL

#844 User Manual updates
  docs/source/control_status_registers.rst
  docs/source/core_versions.rst
  docs/source/instruction_set_extensions.rst
  docs/source/integration.rst
  docs/source/intro.rst
Labels: Component:Doc

#851 Issue #843 correction.
  example_tb/core/cv32e40p_tb_subsystem.sv
Labels: Component:Verif

#854 User Manual updates
  .readthedocs.yaml
  docs/source/corev_hw_loop.rst
  docs/source/verification.rst
Labels: Component:Doc

#855 HW loop alignement to User Manual
  rtl/cv32e40p_controller.sv
  rtl/cv32e40p_id_stage.sv
  util/format-verible
Labels: Component:RTL

#856 RVFI updates for pulp post increment load instr, all CSR updates for FPU instructions and some general improvements
  bhv/cv32e40p_rvfi.sv
  bhv/cv32e40p_tb_wrapper.sv
  bhv/insn_trace.sv
  bhv/pipe_freeze_trace.sv
Labels: Component:Verif

#858 RVFI - better dret handling + addind tdata2 + minor refactoring
  bhv/cv32e40p_rvfi.sv
  bhv/cv32e40p_tb_wrapper.sv
Labels: Component:Verif

#860 Some Core RTL bug fixes and CVFPU 0.8.1 vendorization
  bhv/cv32e40p_tb_wrapper.sv
  rtl/cv32e40p_apu_disp.sv
  rtl/cv32e40p_controller.sv
  rtl/cv32e40p_core.sv
  rtl/cv32e40p_ex_stage.sv
  rtl/cv32e40p_id_stage.sv
  rtl/cv32e40p_load_store_unit.sv
  rtl/cv32e40p_mult.sv
  rtl/vendor/pulp_platform_fpnew.lock.hjson
  rtl/vendor/pulp_platform_fpnew.vendor.hjson
  rtl/vendor/pulp_platform_fpnew/src/fpnew_cast_multi.sv
  rtl/vendor/pulp_platform_fpnew/src/fpnew_divsqrt_multi.sv
  rtl/vendor/pulp_platform_fpnew/src/fpnew_fma.sv
  rtl/vendor/pulp_platform_fpnew/src/fpnew_fma_multi.sv
  rtl/vendor/pulp_platform_fpnew/vendor/opene906/E906_RTL_FACTORY/gen_rtl/fdsu/rtl/pa_fdsu_pack_single.v
Labels: Component:RTL

#857 Update .readthedocs.yaml
  .readthedocs.yaml
Labels: Component:Doc
