Repository openhwgroup/cv32e40p, pull requests merged in 2024-03, with the labels that each got.

#956 Some User Manual updates.
  docs/source/conf.py
  docs/source/corev_hw_loop.rst
  docs/source/instruction_set_extensions.rst
  docs/source/integration.rst
Labels: Component:Doc

#957 RVFI - Adding missing perf counter + correcting issue on mstatus_fs with flw
  bhv/cv32e40p_rvfi.sv
  bhv/cv32e40p_tb_wrapper.sv
  bhv/insn_trace.sv
Labels: Component:Verif

#961 RTL corrections for better RTL code coverage
  rtl/cv32e40p_decoder.sv
  rtl/cv32e40p_load_store_unit.sv
Labels: Type:Enhancement, Component:RTL

#962 Added possibility to make lec between v2 versions.
  .gitignore
  scripts/slec/README.md
  scripts/slec/cadence/lec.tcl
  scripts/slec/run.sh
  scripts/slec/synopsys/lec.tcl
Labels: Type:Enhancement, Component:Tool-and-build

#966 Issue #965 correction
  rtl/cv32e40p_core.sv
  rtl/cv32e40p_top.sv
Labels: Type:Enhancement, Component:RTL

#970 Correction for issue #967 and …
  docs/source/instruction_set_extensions.rst
Labels: Component:Doc

#969 Issue #756 correction.
  rtl/cv32e40p_register_file_latch.sv
Labels: Component:RTL

#968 Slight update to allow many lec parallel runs.
  scripts/slec/run.sh
Labels: Type:Enhancement, Component:Tool-and-build

#971 Alignement to PR #970 for User Manual update of clipr/clipur behavior.
  rtl/cv32e40p_id_stage.sv
Labels: Component:RTL

#964 Restored v1 headers and added same header to new files.
  bhv/cv32e40p_instr_trace.svh
  bhv/cv32e40p_rvfi.sv
  bhv/cv32e40p_rvfi_trace.sv
  bhv/cv32e40p_tb_wrapper.sv
  bhv/cv32e40p_tracer.sv
  bhv/include/cv32e40p_rvfi_pkg.sv
  bhv/include/cv32e40p_tracer_pkg.sv
  bhv/insn_trace.sv
  bhv/pipe_freeze_trace.sv
  rtl/cv32e40p_fp_wrapper.sv
  rtl/cv32e40p_top.sv
Labels: Type:Enhancement, Component:RTL

#972 RVFI - Correcting issue on trace log generation from rvfi
  bhv/cv32e40p_instr_trace.svh
  bhv/cv32e40p_rvfi.sv
  bhv/cv32e40p_rvfi_trace.sv
  bhv/cv32e40p_tb_wrapper.sv
  bhv/cv32e40p_tracer.sv
  bhv/insn_trace.sv
Labels: Component:Verif
