Repository openhwgroup/cv32e40p, pull requests merged in 2024-02, with the labels that each got.

#942 User Manual html generation improvments
  docs/source/_static/css/custom.css
  docs/source/conf.py
Labels: Component:Doc

#931 add RTL LINT scripts.
  .gitignore
  scripts/lint/README.md
  scripts/lint/autocheck_common_rules.do
  scripts/lint/config_0p_0f_0z_0lat_0c/cv32e40p_config_pkg.sv
  scripts/lint/config_1p_0f_0z_0lat_0c/cv32e40p_config_pkg.sv
  scripts/lint/config_1p_1f_0z_0lat_0c/cv32e40p_config_pkg.sv
  scripts/lint/config_1p_1f_0z_1lat_0c/cv32e40p_config_pkg.sv
  scripts/lint/config_1p_1f_0z_2lat_0c/cv32e40p_config_pkg.sv
  scripts/lint/config_1p_1f_1z_0lat_0c/cv32e40p_config_pkg.sv
  scripts/lint/config_1p_1f_1z_1lat_0c/cv32e40p_config_pkg.sv
  scripts/lint/config_1p_1f_1z_2lat_0c/cv32e40p_config_pkg.sv
  scripts/lint/config_1p_1f_1z_2lat_1c/cv32e40p_config_pkg.sv
  scripts/lint/cv32e40p_wrapper.sv
  scripts/lint/formal_lint_rules.do
  scripts/lint/lint.sh
  scripts/lint/proc_dumpAutoCheckSummary.tcl
  scripts/lint/qverify_analysis.do
  scripts/lint/qverify_autocheck.do
Labels: Type:Enhancement

#929 Refactor of LEC/SEC scripts
  scripts/lec/README.md
  scripts/lec/clone_reference.sh
  scripts/lec/lec.sh
  scripts/lec/synopsys_formality/check_lec.tcl
  scripts/slec/README.md
  scripts/slec/cadence/lec.tcl
  scripts/slec/cadence/sec.tcl
  scripts/slec/run.sh
  scripts/slec/siemens/Makefile
  scripts/slec/synopsys/lec.tcl
Labels: Type:Enhancement, Component:Tool-and-build

#952 RTL correction for verilator (no added/removed lines).
  rtl/cv32e40p_core.sv
  rtl/cv32e40p_cs_registers.sv
  rtl/cv32e40p_ex_stage.sv
Labels: Component:RTL
