Repository openhwgroup/cv32e40p, pull requests merged in 2024-04, with the labels that each got.

#973 Refined HWLoop instructions list that must be 32-bit aligned.
  docs/source/corev_hw_loop.rst
Labels: Component:Doc

#974 Added new apu_busy_o at cv32e40p_core level for v1 lec and fpu latency parameters for v2 lec.
  .gitignore
  scripts/slec/cadence/lec.tcl
  scripts/slec/run.sh
  scripts/slec/synopsys/lec.tcl
Labels: Component:Tool-and-build

#978 Add forgotten image.
  docs/images/ImperasDV_diagram_May_2023-reduced.jpg
Labels: Component:Doc

#979 User Manual improvements.
  docs/images/openhw-landscape.png
  docs/source/conf.py
  docs/source/control_status_registers.rst
  docs/source/core_versions.rst
  docs/source/corev_hw_loop.rst
  docs/source/debug.rst
  docs/source/exceptions_interrupts.rst
  docs/source/fpu.rst
  docs/source/glossary.rst
  docs/source/index.rst
  docs/source/instruction_fetch.rst
  docs/source/instruction_set_extensions.rst
  docs/source/integration.rst
  docs/source/intro.rst
  docs/source/load_store_unit.rst
  docs/source/perf_counters.rst
  docs/source/pipeline.rst
  docs/source/preface.rst
  docs/source/register_file.rst
  docs/source/sleep.rst
Labels: Component:Doc

#983 RVFI - Improving trace log file and adding mhpmevents csr reporting
  bhv/cv32e40p_instr_trace.svh
  bhv/cv32e40p_rvfi.sv
  bhv/cv32e40p_rvfi_trace.sv
  bhv/cv32e40p_tb_wrapper.sv
  bhv/cv32e40p_tracer.sv
  bhv/insn_trace.sv
  bhv/pipe_freeze_trace.sv
Labels: Component:Verif

#984 Better description of some SIMD instructions related to Imm6 unused bits and corrected the encoding description.
  docs/source/conf.py
  docs/source/instruction_set_extensions.rst
  docs/source/pipeline.rst
Labels: Type:Enhancement, Component:Doc

#986 Setting correct mstatus fs write mask when csrw to frm and correcting cv.beqimm & cv.bneimm printing in log file
  bhv/cv32e40p_instr_trace.svh
  bhv/pipe_freeze_trace.sv
Labels: Component:Verif

#987 Added HWloop CSRs save/restore
  docs/source/corev_hw_loop.rst
Labels: Component:Doc
